name: PR Playground Preview

on:
    pull_request:
        types: [opened, synchronize, reopened, edited]

permissions:
    contents: write
    pull-requests: write

jobs:
    preview:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'npm'

            - name: Install dependencies
              run: npm i

            - name: Replace __VERSION__ in plugin file
              run: |
                  sed -i "s/__VERSION__/PR-${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}/" query-filter.php

            - name: Build
              run: npm run build

            - name: Generate preview
              uses: WordPress/action-wp-playground-pr-preview@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  plugin-path: .
                  blueprint: |
                      {
                        "$schema": "https://playground.wordpress.net/blueprint-schema.json",
                        "landingPage": "/wp-admin/",
                        "login": true,
                        "preferredVersions": {
                          "php": "8.3",
                          "wp": "6.8"
                        },
                        "features": {
                          "networking": true
                        },
                        "steps": [
                          {
                            "step": "installTheme",
                            "themeZipFile": {
                              "resource": "wordpress.org/themes",
                              "slug": "twentytwentyfive"
                            },
                            "options": {
                              "activate": true
                            }
                          },
                          {
                            "step": "installPlugin",
                            "pluginZipFile": {
                              "resource": "wordpress.org/plugins",
                              "slug": "advanced-query-loop"
                            },
                            "options": {
                              "activate": true
                            }
                          },
                          {
                            "step": "defineWpConfigConsts",
                            "consts": {
                              "WP_DEBUG": true,
                              "WP_DEBUG_LOG": true,
                              "SCRIPT_DEBUG": true
                            }
                          }
                        ]
                      }
